.git
.gitignore
.venv
venv
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.mypy_cache
.vscode
.DS_Store
.idea
coverage.xml
htmlcov
security/*.txt
security/*.json
security/*.spdx
security/*.cdx.json
screenshots
reports
